<template>
  <div class="hello">
    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <span style="color: white;" class="navbar-text">
            {{message}}
            </span>
        </div>
    </nav>
    <div class="container">
         <div class="form-outline mb-4">
            <div class="row row-cols-2 row-cols-md-4 g-4 mb-4">
                <div v-for="item in itemsCart" :key="item.idProducto">
                    <div class="col-12">
                        <div class="card">
                            <img :src="item.imagen" class="card-img-top">
                            <div class="card-body text-left">
                                <h6 class="card-title">{{item.nombre}}</h6>
                                <a style="cursor: pointer; color: black; text-decoration: none;" class="p-3">{{item.nombreTalla}}</a>
                                <a style="cursor: pointer; color: black; text-decoration: none;" @click="deleteItem(item.idProducto)" class="card-link">Borrar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button @click="addProducts" v-if="itemsCart != null" class="btn btn-dark mb-4">Enviar a productos</button><br>
            <router-link to="/home" style="color: black;" class="btn btn-default card" type="button">Regresar escanear SKU</router-link> <br>
            <router-link to="/" style="color: black;" class="btn" type="button">Cerrar sesion</router-link>
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'CartView',
  data(){
    return {
        message: 'Bienvenido, usuario Escoge tu prenda',
        itemsCart: null,
    }
  },
  methods: {
    async deleteItem (item) {
        delete this.itemsCart[item];
        localStorage.cartItems = JSON.stringify(this.itemsCart);
        const user = localStorage.idRegistro;
        const product = item
        console.log(product);
        const info = {
            Idproducto: product,
            Idregistro: user,
        }
        try {
            const resp = await axios.post('https://examen.pitayasoft.mx/api/User/QuitarProducto', info);
            console.log(resp.data);
            this.prendas = resp.data
            //console.log(this.idUser);
        } catch (error) {
            console.log(JSON.stringify(info))
            console.log(error);
        }
    },
     addProducts() {
        alert('Se ha enviado los productos');
    },
  },
  mounted() {
    this.itemsCart = localStorage.cartItems;
    if(this.itemsCart != null) {
        this.itemsCart = JSON.parse(this.itemsCart);
    }
  }
}
</script>