<template>
  <div class="hello">
    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <span style="color: white;" class="navbar-text">
            {{message}}
            </span>
        </div>
    </nav>
    <div class="container">
         <div class="form-outline mb-4">
            <label class="form-label">Nombre</label>
            <input type="text" v-model="sku" class="form-control rounded-bottom mb-3" />
            <div class="alert alert-danger" v-if="error == true" role="alert">
                    No se encontro una prenda
            </div>
            <div v-if="prendas != null">
                <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
                    <div class="col"></div>
                    <div class="col">
                            <div class="card p-4" style="max-width: 100px max-height: 100px">
                                <div class="thumbnail"> <p @click="removeCard" style="cursor: pointer; color: black; text-decoration: none;" class="close text-end">×</p></div>
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div v-if="prendas[0].imagen == false && prendas[0].imagen1 == false && prendas[0].imagen2 == false && prendas[0].imagen3 == false">
                                            <div class="carousel-item">
                                                <img src="https://www.publicdomainpictures.net/pictures/280000/nahled/not-found-image-15383864787lu.jpg" class="card-img-top">
                                            </div>
                                        </div>
                                        <div v-if="prendas[0].imagen != false">
                                            <div class="carousel-item active">
                                                <img :src="prendas[0].imagen" class="card-img-top">
                                            </div>
                                        </div>
                                        <div v-if="prendas[0].imagen1 != false">
                                             <div class="carousel-item">
                                                <img :src="prendas[0].imagen1" class="card-img-top">
                                            </div>
                                        </div>
                                        <div v-if="prendas[0].imagen2 != false">
                                            <div class="carousel-item">
                                                <img :src="prendas[0].imagen2" class="card-img-top">
                                            </div>
                                        </div>
                                        <div v-if="prendas[0].imagen3 != false">
                                            <div class="carousel-item">
                                                <img :src="prendas[0].imagen3" class="card-img-top">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <!--<img :src="prendas[0].imagen" class="card-img-top">-->
                                <div class="card-body text-left">
                                    <h5 class="card-title">{{prendas[0].nombre}}</h5>
                                    <h6 class="text-start p-3">Talla</h6>
                                    <div style="display: inline-block;" class="p-1 btn-group" v-for="(prenda, index) in prendas" :key="prenda.idProducto">
                                        <!--<input type="radio" class="btn-check" name="btnradio{{index}}" id="btnradio{{index}}" autocomplete="off">
                                        <label class="card btn btn-check btn-outline-dark mb-4" for="btnradio{{index}}">{{30 + index}}</label>-->
                                        <button type="button" @click="addTalla(prenda)" class='card btn btn-outline-dark mb-4'>{{30 + index}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <button style="border-radius: 20px;" class="btn btn-dark mb-4" @click="getPrenda">Escanea tus productos</button><br>
            <button v-if="prendas != null" @click="addCart" class="btn btn-dark mb-4">Add to cart</button><br>
            <button @click="deleteCart" class="btn btn-dark mb-4">Borrar Carrito</button><br>
            <router-link to="/cart" class="btn btn-dark mb-4">Ir a probador</router-link><br>
            <router-link to="/" style="color: black;" class="btn" type="button">Cerrar sesion</router-link>
        </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'HomeView',
  data(){
    return {
        message: 'Bienvenido, usuario Escoge tu prenda',
        sku: null,
        prendas: null,
        producto: null,
        idUser: null,
        talla: null,
        prendaCart: false,
        error: false,
    }
  },
  methods: {
    removeCard() {
        this.prendas = null;
    },
    async getPrenda () {
        if(this.sku == null) {
            alert('Debe anadir un sku valido');
            return 0;
        }
        const info = {
           sku: this.sku,
        };
        try {
            const resp = await axios.post('https://examen.pitayasoft.mx/api/User/BuscarProducto', info);
            console.log(resp.data);
            this.prendas = resp.data
            this.error = false;
            //console.log(this.idUser);
        } catch (error) {
            console.log(JSON.stringify(info))
            console.log(error);
            this.error = true;
        }

    },
    addTalla(prenda) {
        this.prenda = prenda;
        this.talla = prenda.idTalla;
        this.producto = prenda.idProducto;
        this.idUser = localStorage.idRegistro;
        console.log(this.talla);
    },

    async addCart() {
        if(this.talla == null) {
            alert('Seleccione la talla');
            return 0;
        }
        const info2 = {
            sku: this.sku,
            Idproducto: this.producto,
            Idtalla: this.talla,
            Idregistro: this.idUser,
        };
        try {
            const resp = await axios.post('https://examen.pitayasoft.mx/api/User/AgregarProducto', info2);
            console.log(resp.data);
            console.log(JSON.stringify(info2));
        } catch (error) {
            console.log(JSON.stringify(info2))
            console.log('Hubo un error');
        }
            let itemsCart = localStorage.cartItems;

            if(itemsCart != null){
                itemsCart = JSON.parse(itemsCart);
                if(itemsCart[this.prenda.idProducto] == undefined) {
                    itemsCart = {
                        ...itemsCart,
                        [this.prenda.idProducto]: this.prenda
                    }
                }
                this.prendaCart = true;
            } else {
                itemsCart = {
                    [this.prenda.idProducto]: this.prenda
                }
                this.prendaCart = true;
            }
            localStorage.cartItems = JSON.stringify(itemsCart);
            alert('enviado al carrito exitosamente');
    },
    deleteCart() {
        localStorage.removeItem('cartItems');
        alert('El carrito se ha borrado');
    }
  }
}
</script>