<template>
    <div>
        <nav class="navbar navbar-dark bg-dark mb-4">
            <div class="container">
                <span style="color: white;" class="navbar-text">
                {{message}}
                </span>
            </div>
        </nav>
        <div class='container'>
            <form class="">
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label">Nombre</label>
                    <input type="text" v-model="nombre" class="form-control rounded-bottom" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label">Correo</label>
                    <input type="email" v-model="email" class="form-control rounded-bottom" />
                </div>
                <br><br><br>
                <!-- Submit button -->
                <router-link style="border-radius: 20px; background-color: black; color: white;" @click="loginAccess" to="/home" class="btn card mb-4">Ingresar</router-link>
                <div class="alert alert-danger" v-if="error == true" role="alert">
                    Datos de usuario incorrectos
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'LoginView',
  data(){
    return {
        message: 'Inicio de sesion',
        nombre: null,
        email: null,
        error: false,
    }
  },
  methods: {
    async loginAccess () {
        const info = {
            nombre: this.nombre,
            email: this.email,
        };
        try {
            const resp = await axios.post('https://examen.pitayasoft.mx/api/User/Registro', info);
            console.log(resp.data.id);
            localStorage.idRegistro = resp.data.id;
        } catch (error) {
            console.log(JSON.stringify(info))
            console.log(error);
        }

    },
  }
}
</script>

